# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\liuyiru\ivista\IVISTA-simulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
